body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 5rem;
    padding-top: 5vh;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
}

/* ====================================================== */
.title {
    position: relative
}

.title::before,
.title::after {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-color: #fff;
    border-width: 4px;
    border: solid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}

.title::before {
    background-color: #f34a4a;
    left: -120px;
}

.title::after {
    background-color: #4c4ffa;
    right: -120px;
}